<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
</head>

<body>

	<div class="container">
		{% include "header.html" %}

		<br><br><br>

		<div class="col-md-10 col-md-offset-1">
			<br>

			<div class="table-responsive">
				<table class="table table-striped">
				<colgroup>
					<col width="50"/>
					<col width="50"/>
					<col width="200"/>
					<col width="50"/>
				</colgroup>
				<thread>
					<tr>
						<td>신문사</td>
						<td>키워드</td>
						<td>제목</td>
						<td>시간</td>
					</tr>
				</thread>
				<tbody>
					{% for i, j in zip(rows, passNews) %}
					<tr>
						<td>{{i[1]}}</td>
						<td>{{i[2]}}</td>
						<td><a href="{{j}}" target="_blank">{{i[4]}}</a></td>
						<td>{{i[5]}}</td>
					</tr>
					{% endfor %}     
				</tbody>
			</table>
		</div>
	</div>

	</div> <!-- /container -->
</body>
</html>
