<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}
  <script src="static/javascript/SHA256.js"></script>
  <script src="static/javascript/signup.js"></script>
</head>

<body>
  <div class="container text-center">

    {% include "header.html" %}

    <br><br><br>
    <h2 class="signup-text">회원가입</h2>
    <br><br>

    <div class="col-md-6 col-md-offset-3 text-left">
      <form action="/signup/signup" method="post">
        <div class="form-group">
          <label for="email">이메일 <font color ="red">*</font></label>
          <label id ="email_valid_check"></label>
          <input type="email" class="form-control" name="email" id="email" placeholder="ex) memeber@naver.com">
        </div>
        <div class="form-group">
          <label for="password">패스워드 <font color ="red">*</font></label>
          <label id ="password_length_check"></label>
          <input type="password" class="form-control" name="password" id="password" placeholder="패스워드 입력">
        </div>
        <div class="form-group">
          <label for="passwd_confirm">패스워드 재확인 <font color ="red">*</font></label>
          <label id ="password_valid_check"></label>
          <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="패스워드 다시 입력">
        </div>
        <div class="form-group">
          <label for="birth">태어난연도</label>
          <select name="birth" id="birth" class="form-control">
            {% for i in range(1901, 2017) %}
              {% if i == 1991 %}
                <option value="{{i}}" selected>{{i}}</option>
              {% else %}
                <option value="{{i}}">{{i}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="sex">성별</label>
          <select name="sex" id="sex" class="form-control">
            <option value="0">남자</option>
            <option value="1">여자</option>
          </select>
        </div>

        <div class="title-box">
          <button type="button" class="btn btn-default signup-button" onClick="signUp()">회원가입</button>
        </div>
      </form>
    </div>
  </div> <!-- /container -->

</body>
</html>
