<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}
  <script src="static/javascript/SHA256.js"></script>
  <script src="static/javascript/signin.js"></script>
</head>

<body>
  <div class="container text-center">

    {% include "header.html" %}

    <br><br><br>
    <h2 class="signin-text">로그인</h2>
    <br><br>

    <div class="col-md-6 col-md-offset-3 text-left">
      <form action="/signin/signin" method="post">
        <div class="form-group">
          <label for="email">이메일</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="ex) memeber@naver.com">
        </div>
        <div class="form-group">
          <label for="password">패스워드</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="패스워드 입력" onkeypress="if(event.keyCode==13) {signIn(); return false;}">
        </div>
        <div class="title-box">
          <button type="button" class="btn btn-default signin-button" onClick="signIn()">로그인</button>
        </div>
      </form>
    </div>
  </div> <!-- /container -->
</body>
</html>
